html,
body {
	background-color: #000;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.side-bar {
	background: transparent;
	display: block;
	opacity: 0.5;
	overflow: auto;
	position: fixed;
	width: 325px;
	z-index: 2;

	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.side-bar:hover {
	background: #324;
	opacity: 1;
}

.side-bar:hover .menu-label {
	background-color: #435;
	opacity: 1;
}

.side-bar:hover .control-panel {
	background-color: #435;
	opacity: 1;
}

.header {
	color: #FFF;
	display: inline-block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 60px;
	margin: 0;
	padding: 0 15px;
	position: relative;
	text-align: center;
}

.main-container {
	display: block;
	position: relative;
	width: 100%;
}

.sketch-container {
	height: 100%;
	margin: auto;
	position: relative;
	width: 100%;
	z-index: 1;
}

.control-panel {
	background: transparent;
	clear: both;
	display: block;
	height: 0px;
	overflow: auto;
	position: relative;
	width: 100%;
	z-index: 2;

	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.control-panel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.control-item {
	padding: 15px;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.menu-label {
	background-image: url('../img/gear.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	padding: 15px;
	width: 30px;

	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu-label--button {
	color: #fff;
	display: block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	opacity: 0.5;
	text-align: center;
	z-index: 3;
}

#menu-toggle:checked ~ .control-panel {
	height: 300px;
}

.control-input {
	display: block;
	position: relative;
	width: 100%;
}

.control-label {
	color: #fff;
	display: inline-block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: center;
	width: 20%;
}

.control-container {
	display: inline-block;
	float: left;
	position: relative;
	width: 59%;
}